### Downloading Dataset from Kaggle

In [ ]:
!kaggle competitions download -c classification-of-animal-action

### Extracting the Zip Files

In [ ]:
import zipfile

with zipfile.ZipFile('classification-of-animal-action.zip', 'r') as zip_ref:
    zip_ref.extractall()

### Importing the Libraries

In [29]:
import pandas as pd
import numpy as np

### Reading the Dataset

In [30]:
train_data = pd.read_csv('x_train.csv')
test_data = pd.read_csv('x_test.csv')
labels = pd.read_csv('y_train.csv')

In [31]:
train_data.head()

,id,cat,cow,dog,horse,sheep,bounds_x,bounds_y,bounds_width,bounds_height,...,L_F_paw_y,R_F_paw_v,R_F_paw_x,R_F_paw_y,L_B_paw_v,L_B_paw_x,L_B_paw_y,R_B_paw_v,R_B_paw_x,R_B_paw_y
0,265,0,1,0,0,0,37,16,240,170,...,167,1,161,168,1,94,173,1,55,177
1,676,0,0,0,1,0,43,8,208,236,...,213,1,193,209,1,77,232,1,115,233
2,441,0,0,1,0,0,65,0,234,222,...,0,0,0,0,0,0,0,0,0,0
3,328,0,1,0,0,0,15,8,272,178,...,171,1,190,172,1,52,176,1,35,178
4,102,1,0,0,0,0,2,1,148,146,...,130,1,68,131,1,3,128,0,0,0

In [32]:
test_data.head()

,id,cat,cow,dog,horse,sheep,bounds_x,bounds_y,bounds_width,bounds_height,...,L_F_paw_y,R_F_paw_v,R_F_paw_x,R_F_paw_y,L_B_paw_v,L_B_paw_x,L_B_paw_y,R_B_paw_v,R_B_paw_x,R_B_paw_y
0,582,0,0,0,1,0,59,30,234,156,...,179,1,141,177,1,196,172,1,255,169
1,42,1,0,0,0,0,73,2,170,174,...,171,1,158,161,1,142,152,1,105,152
2,148,1,0,0,0,0,1,8,180,242,...,234,1,83,231,0,0,0,1,52,200
3,737,0,0,0,1,0,19,6,226,160,...,0,1,205,140,1,95,163,1,50,162
4,213,0,1,0,0,0,0,2,297,296,...,0,0,0,0,0,0,0,0,0,0

In [33]:
labels.head()

    id  nothing  stand  sit  lie  go  run
0  265        0      0    0    0   1    0
1  676        0      0    0    0   1    0
2  441        1      0    0    0   0    0
3  328        0      1    0    0   0    0
4  102        0      0    0    1   0    0

In [34]:
train_data = train_data.drop('id',axis=1)
labels = labels.drop('id',axis=1)

In [35]:
test_id = test_data['id']

In [36]:
test_data = test_data.drop('id',axis=1)

In [37]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 69 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cat            676 non-null    int64
 1   cow            676 non-null    int64
 2   dog            676 non-null    int64
 3   horse          676 non-null    int64
 4   sheep          676 non-null    int64
 5   bounds_x       676 non-null    int64
 6   bounds_y       676 non-null    int64
 7   bounds_width   676 non-null    int64
 8   bounds_height  676 non-null    int64
 9   L_eye_v        676 non-null    int64
 10  L_eye_x        676 non-null    int64
 11  L_eye_y        676 non-null    int64
 12  R_eye_v        676 non-null    int64
 13  R_eye_x        676 non-null    int64
 14  R_eye_y        676 non-null    int64
 15  L_ear_v        676 non-null    int64
 16  L_ear_x        676 non-null    int64
 17  L_ear_y        676 non-null    int64
 18  R_ear_v        676 non-null    int64
 19  R_ear_x        676 non-null    int64
 20  R_ear_y        676 non-null    int64
 21  Nose_v         676 non-null    int64
 22  Nose_x         676 non-null    int64
 23  Nose_y         676 non-null    int64
 24  Throat_v       676 non-null    int64
 25  Throat_x       676 non-null    int64
 26  Throat_y       676 non-null    int64
 27  Tail_v         676 non-null    int64
 28  Tail_x         676 non-null    int64
 29  Tail_y         676 non-null    int64
 30  withers_v      676 non-null    int64
 31  withers_x      676 non-null    int64
 32  withers_y      676 non-null    int64
 33  L_F_elbow_v    676 non-null    int64
 34  L_F_elbow_x    676 non-null    int64
 35  L_F_elbow_y    676 non-null    int64
 36  R_F_elbow_v    676 non-null    int64
 37  R_F_elbow_x    676 non-null    int64
 38  R_F_elbow_y    676 non-null    int64
 39  L_B_elbow_v    676 non-null    int64
 40  L_B_elbow_x    676 non-null    int64
 41  L_B_elbow_y    676 non-null    int64
 42  R_B_elbow_v    676 non-null    int64
 43  R_B_elbow_x    676 non-null    int64
 44  R_B_elbow_y    676 non-null    int64
 45  L_F_knee_v     676 non-null    int64
 46  L_F_knee_x     676 non-null    int64
 47  L_F_knee_y     676 non-null    int64
 48  R_F_knee_v     676 non-null    int64
 49  R_F_knee_x     676 non-null    int64
 50  R_F_knee_y     676 non-null    int64
 51  L_B_knee_v     676 non-null    int64
 52  L_B_knee_x     676 non-null    int64
 53  L_B_knee_y     676 non-null    int64
 54  R_B_knee_v     676 non-null    int64
 55  R_B_knee_x     676 non-null    int64
 56  R_B_knee_y     676 non-null    int64
 57  L_F_paw_v      676 non-null    int64
 58  L_F_paw_x      676 non-null    int64
 59  L_F_paw_y      676 non-null    int64
 60  R_F_paw_v      676 non-null    int64
 61  R_F_paw_x      676 non-null    int64
 62  R_F_paw_y      676 non-null    int64
 63  L_B_paw_v      676 non-null    int64
 64  L_B_paw_x      676 non-null    int64
 65  L_B_paw_y      676 non-null    int64
 66  R_B_paw_v      676 non-null    int64
 67  R_B_paw_x      676 non-null    int64
 68  R_B_paw_y      676 non-null    int64
dtypes: int64(69)
memory usage: 364.5 KB

In [38]:
train_data.shape

(676, 69)

In [39]:
train_data = train_data.astype(float)

### Preprocessing the Data

In [40]:
#preprocessing the data

from sklearn.preprocessing import StandardScaler

ss = StandardScaler()

train_data_new = ss.fit_transform(train_data)

In [41]:
train_data_new.shape

(676, 69)

In [42]:
train_data.shape

(676, 69)

In [43]:
labels.shape

(676, 6)

### Creating the Validation Set

In [44]:
x_train = train_data[100:]
y_train = labels[100:]
x_valid = train_data[:100]
y_valid = labels[:100]

In [45]:
print(x_train.shape)
print(x_valid.shape)
print(y_train.shape)
print(y_valid.shape)

(576, 69)
(100, 69)
(576, 6)
(100, 6)

### Trying Deep Learning Model

In [46]:
#Importing required Libraries
import tensorflow as tf
from tensorflow import keras
from keras.initializers import he_normal

In [47]:
model = keras.Sequential([
    keras.layers.Flatten(input_shape=[69]),
    keras.layers.Dense(512,activation='relu'),
    keras.layers.Dense(256,activation='relu'),
    keras.layers.Dense(128,activation='relu'),
    keras.layers.Dense(6,activation='softmax')
])

In [48]:
model.compile(loss="categorical_crossentropy",
             optimizer='nadam',
             metrics=["accuracy"])

In [82]:
%%time
history = model.fit(x_train,y_train,batch_size=400,epochs=20,
                   validation_data= (x_valid,y_valid))

Epoch 1/20
2/2 [==============================] - 1s 189ms/step - loss: 0.0158 - accuracy: 0.9983 - val_loss: 2.4612 - val_accuracy: 0.5900
Epoch 2/20
2/2 [==============================] - 0s 51ms/step - loss: 0.0158 - accuracy: 1.0000 - val_loss: 2.4461 - val_accuracy: 0.5900
Epoch 3/20
2/2 [==============================] - 0s 43ms/step - loss: 0.0158 - accuracy: 0.9983 - val_loss: 2.4594 - val_accuracy: 0.5800
Epoch 4/20
2/2 [==============================] - 0s 40ms/step - loss: 0.0160 - accuracy: 0.9983 - val_loss: 2.4723 - val_accuracy: 0.5900
Epoch 5/20
2/2 [==============================] - 0s 56ms/step - loss: 0.0163 - accuracy: 0.9983 - val_loss: 2.4546 - val_accuracy: 0.5900
Epoch 6/20
2/2 [==============================] - 0s 57ms/step - loss: 0.0160 - accuracy: 0.9983 - val_loss: 2.4612 - val_accuracy: 0.5900
Epoch 7/20
2/2 [==============================] - 0s 47ms/step - loss: 0.0158 - accuracy: 1.0000 - val_loss: 2.4535 - val_accuracy: 0.5900
Epoch 8/20
2/2 [==============================] - 0s 59ms/step - loss: 0.0156 - accuracy: 1.0000 - val_loss: 2.4710 - val_accuracy: 0.5900
Epoch 9/20
2/2 [==============================] - 0s 58ms/step - loss: 0.0155 - accuracy: 0.9983 - val_loss: 2.4707 - val_accuracy: 0.5900
Epoch 10/20
2/2 [==============================] - 0s 64ms/step - loss: 0.0152 - accuracy: 1.0000 - val_loss: 2.4725 - val_accuracy: 0.5900
Epoch 11/20
2/2 [==============================] - 0s 38ms/step - loss: 0.0151 - accuracy: 0.9983 - val_loss: 2.4796 - val_accuracy: 0.5900
Epoch 12/20
2/2 [==============================] - 0s 40ms/step - loss: 0.0151 - accuracy: 1.0000 - val_loss: 2.4681 - val_accuracy: 0.6000
Epoch 13/20
2/2 [==============================] - 0s 42ms/step - loss: 0.0150 - accuracy: 1.0000 - val_loss: 2.4794 - val_accuracy: 0.5900
Epoch 14/20
2/2 [==============================] - 0s 65ms/step - loss: 0.0150 - accuracy: 0.9983 - val_loss: 2.4687 - val_accuracy: 0.6000
Epoch 15/20
2/2 [==============================] - 0s 33ms/step - loss: 0.0147 - accuracy: 1.0000 - val_loss: 2.4755 - val_accuracy: 0.5800
Epoch 16/20
2/2 [==============================] - 0s 61ms/step - loss: 0.0149 - accuracy: 1.0000 - val_loss: 2.4857 - val_accuracy: 0.5900
Epoch 17/20
2/2 [==============================] - 0s 64ms/step - loss: 0.0147 - accuracy: 0.9983 - val_loss: 2.4923 - val_accuracy: 0.6000
Epoch 18/20
2/2 [==============================] - 0s 51ms/step - loss: 0.0146 - accuracy: 1.0000 - val_loss: 2.4762 - val_accuracy: 0.5900
Epoch 19/20
2/2 [==============================] - 0s 61ms/step - loss: 0.0148 - accuracy: 0.9983 - val_loss: 2.5077 - val_accuracy: 0.6000
Epoch 20/20
2/2 [==============================] - 0s 54ms/step - loss: 0.0150 - accuracy: 1.0000 - val_loss: 2.4780 - val_accuracy: 0.5900
Wall time: 2.08 s

In [70]:
#preprocessing the test data
new_test = ss.transform(test_data)

In [83]:
#saving the model
model.save('mymodel.h5')

In [84]:
#loading the model
model = tf.keras.models.load_model('mymodel.h5') #same file path

### Creating Submission Dataframe

In [85]:
# Importing Pandas to create DataFrame
import pandas as pd

# Creating Empty DataFrame and Storing it in variable df
df = pd.DataFrame()

# Printing Empty DataFrame
print(df)

Empty DataFrame
Columns: []
Index: []

### Making Prediction on Test Set

In [86]:
y_pred = np.argmax(model.predict(new_test),axis=1)
y_pred

array([1, 2, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 2, 1, 1, 2, 1, 4, 1,
       2, 1, 2, 0, 0, 3, 1, 1, 1, 1, 1, 1, 0, 1, 4, 1, 2, 1, 0, 1, 1, 1,
       2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 4, 1, 0, 1, 1, 1,
       2, 1, 5, 1, 1, 1, 1, 1, 2, 1, 3, 1, 3, 4, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 2, 3, 1, 1, 2, 1, 1, 2, 1, 1, 1, 4, 1, 1, 1, 0, 2,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 2, 1,
       1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 1, 0, 4, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       2, 1, 1, 1, 1, 3, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 2, 0, 1, 1, 4, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 4, 0, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 3,
       1, 1, 1, 4, 3], dtype=int64)

### Adding the Predicted Labels to submission file.

In [87]:
df['id'] = test_id

In [88]:
df['label'] = y_pred

In [89]:
df.to_csv('submission.csv',index=0)

In [90]:
#submitting in kaggle compitition
!kaggle competitions submit -c classification-of-animal-action -f submission.csv -m "Latest Submission"

Successfully submitted to Classification of animal action

  0%|          | 0.00/1.97k [00:00<?, ?B/s]
100%|##########| 1.97k/1.97k [00:00<00:00, 9.16kB/s]
100%|##########| 1.97k/1.97k [00:04<00:00, 423B/s]